* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #5B86E5, #36D1DC);
}

.glass-card {
    width: 90%;
    max-width: 380px;
    padding: 25px;
    text-align: center;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.3);
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
    object-fit: cover;
}

h2 {
    color: white;
    margin-bottom: 8px;
}

.subtitle {
    color: #e0e0e0;
    font-size: 14px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    text-decoration: none;
    padding: 12px;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.2);
    color: white;

    font-weight: bold;

    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.4);
}

.btn:hover {
    background: rgba(255, 255, 255, 0.35);
}

/* Add Contact Floating Button */

#addContact {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    background: white;
    color: #36D1DC;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    text-decoration: none;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}